<div id="wallpaper" class="wallpaper" data-image="images/oregon.jpg"></div>
		<div class="content">
		<aside class="side">
			<figure id="picture" class="picture">
				<div class="picture-shadow"></div>
				<img id="pictureImage" class="picture-image"
						 src="https://www.stevelongoria.net/images/steve.jpg"
						 alt="Portrait of Steve Longoria"
						 width="320"
						 height="320">
			</figure>
		</aside>
		<main class="about">
			<h1 class="name">
				Hi, I'm Steve Longoria
			</h1>
			<p class="job">
				Copywriter & Web Developer
			<hr class="hr">
			<div class="description">
				<p>
					I help my clients get more sales 
					from their websites by crafting compelling sales copy and beautiful, 'mobile first'
					websites.
	</p> </div>
			<div class="contact">
	<a class="button" href="mailto:stevehl25@gmail.com">
					Get in touch
	</a>
			</div>
	<ul class="social">
  <li>
	<a href="https://twitter.com/stevelongoria" target="_blank">
      <i class="fab fa-twitter"></i>
	</a> </li>
	<li> <a href="https://github.com/SteveLongoria" target="_blank"">
      <i class="fab fa-github"></i>
    </a>
	</li> <li>
    <a href="https://www.linkedin.com/in/longoriasteve/" target="_blank">
      <i class="fab fa-linkedin"></i>
	</a> </li>
	</ul>
	<div style="margin-top:20px;font-size:1.5rem;line-height:1.5;font-size:1.2rem;" class="links">
		<p><a href="https://medium.com/@stevelongoria" target="_blank">Blog</a> | <a href="https://varpop.com/" target="_blank">VarPop( )</a> | <a href="#casestudies">Case Studies</a></p>
	</div>
		</main>
</div>
<div id="casestudies" class="content2" style="
			background: #F18F01;
			align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
			display: flex;
			flex-direction: column;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: calc(100%);
			padding: 3rem;
			" class="casestudies">
		<h1 class="cs-title" style="font-size: 2.5rem;flex-wrap: nowrap;" class="casestudies-title">Case Study #1</h1>
		<div class="cs-details">
				<div id="cs1picture" class="cspicture"></div>
				<center><img style="margin-top:2rem; margin-bottom: 2rem;border: 2px solid grey;" id="cs1pictureImage" class="cspicture-image"
						 src="images/empirecasestudy.png"
						 alt="Case Study #1"
						 width="555"
						 height="293"/></center>
		<p style="min-width: 300px; max-width: 700px; text-align: justify;">I had been testing a few different ads for this particular client and this one ad has shown to have a 464% higher conversion rate than the other 2 ads. Obviously, I've paused the losing ads which is why they are greyed out in the screenshot. :)</p>
		</div>
		<h1 class="cs-title" style="font-size: 2.5rem;flex-wrap: nowrap;margin-top:30px" class="casestudies-title">Case Study #2</h1>
		<div class="cs-details">
				<div id="cs1picture" class="cspicture"></div>
				<center><img style="margin-top:2rem; margin-bottom: 2rem;border: 2px solid grey;" id="cs1pictureImage" class="cspicture-image"
						 src="images/amcasestudy.png"
						 alt="Case Study #2"
						 width="599"
						 height="261"/></center>
		<p style="min-width: 300px; max-width: 700px; text-align: justify;">I created the first successful Google Adwords lead generation campaign for small digital marketing agency located in San Diego. Their website was lucky to produce 1 lead every few months and in the span of 7 months I generated 64 leads from Adwords at an ever increasing rate, while driving cost per lead down.</p>
		</div>
	</div>
<noscript>
  <style type="text/css">
    .wallpaper {
      animation-name: zoomOut;
}
    .picture {
      animation-name: dropIn;
} </style>
</noscript>