<div id="wallpaper" class="wallpaper" data-image="images/oregon.jpg"></div>
		<div class="content">
		<aside class="side">
			<figure id="picture" class="picture">
				<div class="picture-shadow"></div>
				<img id="pictureImage" class="picture-image"
						 src="https://www.stevelongoria.net/images/steve.jpg"
						 alt="Portrait of Steve Longoria"
						 width="320"
						 height="320">
			</figure>
		</aside>
		<main class="about">
			<h1 class="name">
				Hi, I'm Steve Longoria
			</h1>
			<p class="job">
				Copywriter & Web Developer
			<hr class="hr">
			<div class="description">
				<p>
					I help my clients get more sales 
					from their websites by crafting compelling sales copy and beautiful, 'mobile first'
					websites.
	</p> </div>
			<div class="contact">
	<a class="button" href="mailto:stevehl25@gmail.com">
					Get in touch
	</a>
			</div>
	<ul class="social">
  <li>
	<a href="https://twitter.com/stevelongoria" target="_blank">
      <i class="fab fa-twitter"></i>
	</a> </li>
	<li> <a href="https://github.com/SteveLongoria" target="_blank"">
      <i class="fab fa-github"></i>
    </a>
	</li> <li>
    <a href="https://www.linkedin.com/in/longoriasteve/" target="_blank">
      <i class="fab fa-linkedin"></i>
	</a> </li>
	</ul>
	<div style="margin-top:20px;font-size:1.5rem;line-height:1.5;font-size:1.2rem;" class="links">
		<p><a href="https://medium.com/@stevelongoria" target="_blank">Blog</a> | <a href="https://varpop.com/" target="_blank">VarPop( )</a></p>
	</div>
		</main>
</div>
<div style="
			background: #F18F01;
			text-align: center;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: calc(100%);
			" class="casestudies">
		<h1 style="font-size: 2.5rem;" class="casestudies-title">Case Studies</h1>
		<div class="container">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>
<noscript>
  <style type="text/css">
    .wallpaper {
      animation-name: zoomOut;
}
    .picture {
      animation-name: dropIn;
} </style>
</noscript>