<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steve Longoria – Copywriter | Web Developer | Web Designer</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/minireset.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <script defer type="text/javascript" src="js/main.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>
    
    <div id="wallpaper" class="wallpaper" data-image="images/oregon.jpg"></div>
		<div class="content">
		<aside class="side">
			<figure id="picture" class="picture">
				<div class="picture-shadow"></div>
				<img id="pictureImage" class="picture-image"
						 src="images/alex.jpg"
						 srcset="images/steve.jpg 1x,
										 images/steve@2x.jpg 2x,
										 images/steve@3x.jpg 3x"
						 alt="Portrait of Steve Longoria"
						 width="320"
						 height="320">
			</figure>
		</aside>
		<main class="about">
			<h1 class="name">
				Hi, I'm Steve Longoria
			</h1>
			<p class="job">
				Copywriter & Web Developer
			<hr class="hr">
			<div class="description">
				<p>
					I help my clients get more sales 
					from their website by crafting custom sales copy and designing a user experience that gets results.
	</p> </div>
			<div class="contact">
	<a class="button" href="mailto:stevehl25@gmail.com">
					Get in touch
	</a>
			</div>
	<ul class="social">
  <li>
	<a>
      <i class="fab fa-twitter"></i>
	</a> </li>
	<li> <a>
      <i class="fab fa-github"></i>
    </a>
	</li> <li>
    <a>
      <i class="fab fa-linkedin"></i>
	</a> </li>
	</ul>
		</main>
</div>

<noscript>
  <style type="text/css">
    .wallpaper {
      animation-name: zoomOut;
}
    .picture {
      animation-name: dropIn;
} </style>
</noscript>
  </body>
</html>